@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Variáveis do Tema */
  --accent-yellow: #C6FF4A;
  --primary-green: #014726;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Fundo escuro para simular o desktop "fora" do celular */
  background-color: #111827; 
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  /* Largura máxima de um celular grande (iPhone Pro Max) */
  max-width: 430px; 
  min-height: 100vh;
  background-color: #f8fafc; /* Slate-50 */
  position: relative;
  /* Sombra para dar destaque */
  box-shadow: 0 0 20px rgba(0,0,0,0.5); 
  display: flex;
  flex-direction: column;
}

/* Esconder barra de rolagem mas permitir rolar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}